/*** GÉNÉRAL ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

/*** GAME BOARD ***/

.wrapper-custom {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}


.player_0, .player_1 {
    position: relative;
    width: 100%;
    height: 700px;
    padding: 100px;
}

.name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 130px;
}

.active {
    background-color: #DEDEDE;
}

.active .name {
    font-weight: 300;
}

.active .name::after {
    content: "\2022";
    font-size: 60px;
    position: absolute;
    color: #EB4D4D;
    top: -12px;
    right: -50px;
}

.current-box {
    position: absolute;
    top: 500px;
    left: 150px;
    background-color: #EB4D4D;
    border-radius: 10px;
    color: #fff;
    width: 30%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.current-score {
    font-size: 30px;
}

/*** BUTTONS ***/

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    font-weight: 600;
}

button:hover i {
    margin-right: 10px;
}

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.new {
    font-size: 1.5em;
    top: 50px;
}

.roll {
    font-size: 1.3em;
    top: 500px;
}

.hold {
    font-size: 1.3em;
    top: 560px;
}

/*** Dice Styles ***/

.dice_container {
    position: absolute;
    left: 55%;
    width: 200px;
    transform: translateX(-50%);
    top: 270px;
}

.dice {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transition: 1s ease;
}

@keyframes rolling {
    50% {
        transform: rotateX(455deg) rotateY(455deg);
    }
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 5px solid #F6F3F0;
    transform-style: preserve-3d;
    background: linear-gradient(
        145deg, #DDDBD8, #FFFFFF);
}

.face::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #F6F3F0;
    transform: translateZ(-1px);
}

.face::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #131210;
}

.front {
    transform: translateZ(50px);
}

.back {
    transform: rotateX(180deg) translateZ(50px);
}

.top {
    transform: rotateX(90deg) translateZ(50px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(50px);
}

.right {
    transform: rotateY(90deg) translateZ(50px);
}

.left {
    transform: rotateY(-90deg) translateZ(50px);
}

.dice {
    transform: rotateX(0deg) rotateY(0deg);
}

.front::after { /* Face 1 */
    width: 20px;
    height: 20px;
    background: #F63330;
    margin: -8px 0 0 -8px;
}

.back::after { /* Face 6 */
    margin: -35px 0 0 -30px;
    box-shadow: 40px 0 black, 
                0 25px black,
                40px 25px black,
                0 50px black,
                40px 50px black;
}

.top::after { /* Face 2 */
    margin: -30px 0 0 -30px;
    box-shadow: 40px 40px black;
}

.bottom::after { /* Face 5 */
    margin: -36px 0 0 -36px;
    box-shadow: 26px 26px black,
                52px 52px black,
                52px 0 black,
                0 52px black;
}

.right::after { /* Face 4 */
    margin: -30px 0 0 -30px;
    box-shadow: 40px 0 black,
                0 40px black,
                40px 40px black;
}

.left::after { /* Face 3 */
    margin: -35px 0 0 -35px;
    box-shadow: 25px 25px black,
                50px 50px black;
}

/*** MEDIA QUERIES ***/

@media (max-width: 1000px) {
    .active .name::after {
        top: -20px;
        right: -60px;
    }

    .name {
        font-size: 1.5em;
    }

    .current-box {
        width: 40%;
        left: 100px;
    }

    .current-label {
        font-size: 1em;
    }

    .dice_container {
        position: absolute;
        left: 57%;
        width: 200px;
        transform: translateX(-50%);
        top: 270px;
    }
}

@media (max-width: 768px) {
    .player_0, .player_1 {
        width: 100%;
        height: 500px;
        padding: 50px;
    } 

    .current-box {
        width: 20%;
        height: 20%;
        top: 300px;
        left: 40%;
    }

    .current-label {
        font-size: 1em;
    }

    .dice_container {
        left: 60%;
        top: 450px;
    }

    .name {
        
        top: 50px;
        font-size: 30px;
        text-align: start;
        margin-top: 30px;
        position: relative;
    }

    .score {
        margin-top: 50px;
        font-size: 3em;
    }

    .active .name::after {
        top: -18px;
        right: 450px
    }

    .new {
        font-size: 1.4em;
        left: 50%;
        top: 960px;
    }

    .roll {
        font-size: 1.2em;
        top: 480px;
        left: 20%;
    }

    .hold {
        font-size: 1.2em;
        top: 480px;
        left: 80%;
    }
}

@media (max-width: 576px) {

    .name {
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .active .name::after {
        top: -25px;
        left: 520px;
    }

    .current-box {
        width: 10%;
        height: 18%;
        top: 300px;
        left: 45%;
    }

    .current-label {
        font-size: 1em;
    }

    .dice_container {
        left: 55%;
        top: 450px;
    }

    .new {
        font-size: 1.4em;
        left: 38%;
        top: 10px;
    }

    .roll {
        font-size: 1em;
        top: 92%;
        left: 37%;
    }

    .hold {  
        font-size: 1em;
        top: 92%;
        left: 63%;
    } 
}

@media (max-width: 400px) {
   
    .player-name1 {
        top: 120px;
    }

    .player-name2 {
        margin-bottom: -20px;
    }

    .score {
        margin-top: 120px;
    }

    .active .name::after {
        top: -25px;
        left: 520px;
    }

    .current-box {
        width: 10%;
        height: 18%;
        top: 300px;
        left: 45%;
    }

    .current-label {
        font-size: 1em;
    }

    .dice_container {
        left: 55%;
        top: 450px;
    }

    .new {
        font-size: 1em;
        left: 50%;
        top: 96%;
    }

    .roll {
        font-size: 1em;
        top: 92%;
        left: 41%;
    }

    .hold {  
        font-size: 1em;
        top: 92%;
        left: 59%;
    } 
}

