/*** GÉNÉRAL ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}



