/*** GÉNÉRAL ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

/*** GAME BOARD ***/

.wrapper-custom {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}


.player_0, .player_1 {
    position: relative;
    width: 100%;
    height: 700px;
    padding: 100px;
}

.name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 130px;
}

.active {
    background-color: #DEDEDE;
}

.active .name {
    font-weight: 300;
}

.active .name::after {
    content: "\2022";
    font-size: 60px;
    position: absolute;
    color: #EB4D4D;
    top: -12px;
    right: -50px;
}

.current-box {
    position: absolute;
    top: 500px;
    left: 150px;
    background-color: #EB4D4D;
    border-radius: 10px;
    color: #fff;
    width: 30%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.current-score {
    font-size: 30px;
}

/*** BUTTONS ***/

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    font-weight: 600;
}

button:hover i {
    margin-right: 10px;
}

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.new {
    font-size: 1.5em;
    top: 50px;
}

.roll {
    font-size: 1.3em;
    top: 500px;
}

.hold {
    font-size: 1.3em;
    top: 560px;
}



